/* inject:imports */
/* endinject */

$primary-color: rgb(233,30,99);
$primary-color-hue-1: #F06292;
$primary-color-hue-3: #FF80AB;
$hidden-color: silver;
$white-color: #fff;
$md-max-width: 599px;

.md-primary-background {
  background: $primary-color;
}

@import '../angular/loading/loading';
@import '../angular/404/404';
